<ibm-header brand="[Dashboard]" name="Power Systems Virtual Server">
	<ibm-header-navigation>
		<ibm-header-item routerLink="/home">Instâncias</ibm-header-item>
	</ibm-header-navigation>
	<!-- <ibm-header-navigation>
		<ibm-header-item routerLink="/users">Usuários</ibm-header-item>
	</ibm-header-navigation> -->
	<!-- <ibm-header-global>
		<ibm-header-action title="action" (click)="logout()">
			<img src="../../assets/logout.png" alt="logout">
		</ibm-header-action>
	</ibm-header-global> -->
</ibm-header>